<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/slate/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Les Marvels</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        {{> header}} <!-- Inclusion du header -->
    </div>

    <div class="container">
        <div class="row">
            {{#each characters}}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{imageUrl}}" class="card-img-top" alt="{{name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">{{description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    {{> footer}} <!-- Inclusion du footer -->
</div>
</body>
</html>
